/* Ensure links in the explorer behave like terminal items */
.explorer-tree a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.tree-item {
    cursor: pointer;
    transition: background 0.2s;

}
/* Custom Scrollbar for Terminal aesthetic */
.social-grid::-webkit-scrollbar {
    width: 4px;
}
.social-grid::-webkit-scrollbar-track {
    background: #0b140b;
}
.social-grid::-webkit-scrollbar-thumb {
    background: #1fff8e;
    border-radius: 2px;
}
