/* Ensure links in the explorer behave like terminal items */
.explorer-tree a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.tree-item {
    cursor: pointer;
    transition: background 0.2s;

}
/* Styling the scrollbar for the grid specifically */
.social-grid::-webkit-scrollbar {
    width: 4px; /* Very thin so it doesn't take up space */
}

.social-grid::-webkit-scrollbar-track {
    background: transparent;
}

.social-grid::-webkit-scrollbar-thumb {
    background: #1fff8e; /* Match your neon green */
    border-radius: 2px;
}
