/* Ensure links in the explorer behave like terminal items */
.explorer-tree a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.tree-item {
    cursor: pointer;
    transition: background 0.2s;

}
/* Custom scrollbar for the Quick Links grid */
.social-grid::-webkit-scrollbar {
    width: 4px;
}

.social-grid::-webkit-scrollbar-track {
    background: rgba(31, 255, 142, 0.05);
}

.social-grid::-webkit-scrollbar-thumb {
    background: #1fff8e;
    border-radius: 10px;
}
